include _child.jade

a(href='google.com') Googleee
= '\n'
a(class='button' href='google.com') Google
= '\n'
a(class='button', href='google.com') Google

script(src='../copy/jquery-1.11.3.min.js')
script(src='../es6/index.js')
