html
  script(src="../es6/index.js", inline)
  link(href="../sass/base.css", inline)
  script(src="../es6/index.js")

div 123


a(href='google.com') Googleee
= '\n'
a(class='button' href='google.com') Google
= '\n'
a(class='button', href='google.com') Google

script(src='/copy/jquery-1.11.3.min.js')
