$color: #fff;

.block{
    color: $color;
    font-size: 1rem;
}


.a {
    display: flex;
    color: red;
    border: 1px solid #000;
}
.b{
    border-radius: 16px;
}
.c{
    transform: translate(0 ,0);
}
.d{
    background-size: contain;
}